.main {
    background-color: rgb(255, 255, 255);
    width: 220px;
    transition: all ease 0.1s;
    margin: 5px;
}

.main:hover {
    -webkit-box-shadow: 0px 0px 18px 3px rgba(0, 0, 0, 0.17);
    -moz-box-shadow: 0px 0px 18px 3px rgba(0, 0, 0, 0.17);
    box-shadow: 0px 0px 18px 3px rgba(0, 0, 0, 0.17);
}

.main-tittle {
    height: 50px;
    background-color: rgb(193, 193, 193);
}

.main-tittle>div {
    height: 100%;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.main-body {
    height: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-body>button {
    background-color: rgba(255, 255, 255, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    border: none;
    border-radius: 0;
    font-size: 200px;
    transition: all ease 0.2s;
}

.main-body>button:hover {
    cursor: pointer;
    transition: all ease-in-out 0.5s;
    filter: invert(0%) sepia(0%) saturate(100%) hue-rotate(200deg) brightness(90%) contrast(00%);
}

.main-body>button:active {
    transition: all ease-in 0.01s;
    filter: brightness(100%);
}