.loader {
    color: white;
    height: 100%;
    width: 100%;
    padding: 30px;
}

.layer {
    height: 100%;
    width: 100%;
    padding: 30px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.selection {
    display: flex;
    flex-direction: row;
    justify-content: last baseline;
    width: 100%;
}

button {
    background-color: rgb(0, 0, 0);
    margin: 10px;
    padding: 10px;
    border: none;
    border-radius: 0;
    transition: all ease 0.2s;
    color: white;
    width: 50%;
}

button:hover {
    cursor: pointer;
    transition: all ease-in-out 0.5s;
    background-color: rgb(70, 118, 88);
}

button:active {
    transition: all ease-out 0.01s;
    background-color: #b6b6b6;
}

.cancel {
    background-color: #0f0f0f;
}

.cancel:hover {
    background-color: #000000;
}

.cancel:active {
    background-color: #434343 !important;
}

form {
    width: 100%;
}

label {

    padding: 10px 0 10px 0;
}

input {
    padding: 10px;
    border-radius: 0;
    border-color: white;
    background-color: transparent;
    color: white;

}

input:focus {
    background-color: transparent;
    color: white;
}